.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}
input, textarea {
    width: 100%;
    max-width: 24rem;
    padding: 5px;
}

form div {
    font-weight: bold;
}

.required::after {
    content: "*";
    color: red;
}

form div {
    margin: 0.75rem;
}

select {
    margin: 1rem;
    width: 100%;
    max-width: 25rem;
    margin: 1rem;
    padding: 5px;
    margin-bottom: 0;
}

textarea {
    height: 4rem;
}

button[type=submit] {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(11, 48, 97);
    color: white;
    border: 1px solid rgb(11, 48, 97);
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: rgb(11, 48, 97);
}

.member-card {
    width: 100%;
    max-width: 24rem;
    height: fit-content;
    border: 1px solid black;
    border-radius: 0 10px;
    background-color: rgb(232, 231, 231);
    margin: 1rem 0;
    padding: 0.5rem;
    text-align: center;
}

.heading2 {
    margin: 1rem;
}

.fly-in {
    opacity: 0;
    transform: translateY(100%);
    animation: flyIn 0.6s ease-out forwards;
  }

.member-card:nth-child(1) { animation-delay: 0s; }
.member-card:nth-child(2) { animation-delay: 0.2s; }
.member-card:nth-child(3) { animation-delay: 0.4s; }
.member-card:nth-child(4) { animation-delay: 0.6s; }

  @keyframes flyIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
  }

.heading2 {
    font-weight: bold;
    font-size: 1.3rem;
}