body {
    max-width: 56rem;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10rem;
}
header {
    background-color: rgba(5, 63, 114, 0.895);
    padding: 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

li.show {
    display: block;
}

.show {
    display: block;
}

#menu::before {
    content: '≡';
    color: aliceblue;
    font-size: 2rem;
    margin-right: 1rem;
    font-family: 'Sour Gummy', sans-serif;
}

#menu.show::before {
    content: 'x';
    color: aliceblue;
    font-size: 2rem;
    display: flex;
    font-family: 'Sour Gummy', sans-serif;
}

nav ul {
    padding-inline-start: 0 !important;
}

.navigation {
    padding: 1rem;
    margin: 0.5rem 0 0 0 !important;
    width: fit-content;
}
nav {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.navigation {
    display: none;
    width: 100%;
    left: 0;
    font-size: 1.4rem;
}

.navigation li {
    padding: 0;
}

nav a {
    color: aliceblue;
    font-family: 'Sour Gummy', sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

.navigation.show {
    display: block;
}

.brand {
    display: block;
    color: aliceblue;    
    margin-left: 2rem;
    justify-self: center;
}

.brand.show {
    display: none;
}
.hdr {
    display: flex;
}

.upper-header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    background-color: rgba(5, 63, 114);
    color: white;
}

.container {
    display: grid;
    height: fit-content;
    gap: 10px;
}

.highlight {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.highlight h2 {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(5, 63, 114, 0.895);
    padding: 0.5rem 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
    color: white;
}

.modules {
    display: grid;
    gap: 10px;
    margin: 1rem;
}

.modules div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color:brown;
    color: white;
    border-radius: 5px;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 1rem;
}


.filter button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}

.featured-item {
    text-align: center;
    margin-top: 5px;
}

.list {
    font-size: 1.3rem;
}

.list li {
    margin: 0.5rem 0;
}